html,body, #__nuxt, #__layout{
    height:100%!important;
    width: 100%!important;
}

html {
    font-family: "-apple-system", "BlinkMacSystemFont", "Avenir Next", "Avenir", "Helvetica", "Helvetica Neue", "Ubuntu", "Roboto", "Noto", "Segoe UI", "Arial", sans-serif;
    font-variant-numeric: tabular-nums;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    background-color: #181818;
}

html::-webkit-scrollbar {
    display: none;
}
