html,body, #__nuxt, #__layout{
    height:100%!important;
    width: 100%!important;
}

html {
    background-color: #242526;
    font-family: "-apple-system", "BlinkMacSystemFont", "Avenir Next", "Avenir", "Helvetica", "Helvetica Neue", "Ubuntu", "Roboto", "Noto", "Segoe UI", "Arial", sans-serif;
    font-variant-numeric: tabular-nums;
}